name: macbear_3d
description: "Macbear 3D is a lightweight 3D rendering engine for Flutter, built on Google ANGLE (OpenGL ES)."
version: 0.4.0
homepage: https://macbear-globe.blogspot.com/
repository: https://github.com/macbearchen/macbear_3d
topics:
  - angle
  - opengl
  - glsl
  - macbear
  - matrix

screenshots:
  - description: 'Macbear 3D Engine'
    path: img/scene08.png
  - description: 'GLTF animator'
    path: img/scene05_gltf.gif
  - description: 'Cartoon shader'
    path: img/cartoon.png

environment:
  sdk: ^3.10.0
  flutter: ">=1.17.0"

dependencies:
  build: ^4.0.3
  flutter:
    sdk: flutter
  flutter_angle: ^0.3.9
  http: ^1.6.0
  oimo_physics: ^0.0.4
  vector_math: ^2.2.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0
  build_runner: ^2.10.4

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:

  # To add assets to your package, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg
  #
  # For details regarding assets in packages, see
  # https://flutter.dev/to/asset-from-package
  #
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/to/resolution-aware-images

  # To add custom fonts to your package, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts in packages, see
  # https://flutter.dev/to/font-from-package
